<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>심용석 페이지</h1>
        <P>저의 강의실에 오신걸 환영합니다!</p>
      </div>

    </div>
  </body>
</html>
